@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,html {
  margin: 0;
  padding: 0;
}
#header {
  height: max-content;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 0;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  #header {
    text-align: center;
    height: auto;
  }
}
.header-content-div {
  max-width: 95rem;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .header-content-div {
    max-width: 75rem;
  }
}
#header-img {
  height: 5rem;
  width: auto;
}
@media (max-width: 800px) {
  #header-img {
    height: 4rem;
  }
}
nav {
  position: relative;
  top: 0.8rem;
  float: right;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.5rem 0;
}
@media (max-width: 800px) {
  nav {
    position: static;
    float: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}
.nav-link {
  text-decoration: none;
  color: #630389;
  margin: 0 0.5rem;
  padding: 0 0.6rem;
  transition: border-bottom 0.2s;
}
@media (max-width: 475px) {
  .nav-link {
    margin: 0 0.2rem;
    padding: 0 0.2rem;
    font-size: 1.2rem;
  }
}
.nav-link:hover {
  color: #021d7c;
  border-bottom: 2px solid black;
}
.nav-link:active {
  color: white;
}
.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.home-sec {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  text-align: start;
  min-height: 60rem;
  height: auto;
  margin: 0 auto 5rem auto;
  justify-content: start;
  max-width: 135rem;
  color: #333;
}
@media (max-width: 800px) {
  .home-sec {
    flex-flow: column wrap;
    max-width: 100%;
  }
}
.eye-grabber {
  flex: 1;
  padding: 0 2rem;
}
@media (max-width: 800px) {
  .eye-grabber {
    max-width: max-content;
    padding-bottom: 8rem;
  }
}
.eye-grabber h1 {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 800;
  color: black;
}
.eye-grabber h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #630389;
}
.eye-grabber-img {
  flex-grow: 1;
  text-align: center;
}
.eye-grabber-img h1{
  font-size: 3rem;
  color:#630389;
  font-weight: 800;
}
.eye-grabber-img h2{
    font-size: 5rem;
    font-weight: 800;
}
@media (max-width: 800px) {
  .eye-grabber-img {
    width: 100%;
    height: 60rem;
  }
}
.eye-grabber-img img {
  max-width: 100%;
  max-height: 65%;
}
.btn {
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  background-color: #333;
  color:white;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
}

.btn:hover {
  background-color: #630389;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.9);
}
.section-heading {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  padding: 0rem 2rem 3rem 2rem;
  text-align: center;
}

@media(max-width:700px) {
  .section-heading {
    font-size: 3.5rem;
    padding: 0rem 2rem 0rem 2rem;
  }
}
.sec-content-div {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: start;
  padding: 0rem 2rem 4rem 2rem;
  width: auto;
  justify-content: space-around;
  max-width: 95rem;
  margin: 0 auto;
  color: #630389;
}
@media(max-width:700px) {
  .sec-content-div {
    font-size: 1.8rem;
  }
}
.sec-padding {
  padding: 8rem 0 10rem 0;
}
#about {
  background-color: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.19);
}
#about img {
  max-width: 100%;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
}
#store {
  background-color: whitesmoke;
}
.tile {
  background-color: #fafafa;
  height: 40rem;
  width: 25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 1.5rem;
}
@media (max-width: 680px) {
  .tile {
    width: auto;
    max-width: 100%;
    min-width: 20rem;
    margin: 1.5rem auto;
    height: auto;
  }
}
.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}
.tile h4 {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0;
  color:#630389;
  margin: 0;
}
.tile p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#our-service {
  background-color:white;
  box-shadow: 0 2px 20px rgb(0, 0, 0, 0.19);
}
.bars {
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 2rem;
  width: 100%;
}
@media (max-width: 990px) {
  .bars {
    flex-flow: column wrap;
  }
  .icon-container {
    margin: 0 2.5rem;
  }
}
.bars .icon-container {
  max-width: 10rem;
  flex: 1;
}
.icon-container img {
  max-height: 100%;
  max-width: 100%;
}
.bars .txt-container {
  flex: 2;
  padding: 3rem;
}
.txt-container h5 {
  font-size: 3rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #630389;
}
.txt-container p {
  font-size: 2.3rem;
  color: black;
}
#support {
  background-color: whitesmoke;
}
#supportheading {
  padding-bottom: 13px;
}
#benefits iframe {
  outline: 0;
  border: none;
  width:100%;
  border-radius: 0.4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#contact {
  background-image: url("https://i.pinimg.com/originals/25/63/8c/25638ca8b85cccc2d210923f86f3368b.gif");
  color: white;
}
#contact h6 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
input[type="email"] {
  border: 1px solid ;
  outline: 0;
  font-size: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
  background: transparent;
  color: whitesmoke;
  backdrop-filter: blur(5px);
}
@media (max-width: 520px) {
  #contact h6 {
    font-size: 2rem;
  }
  #contact input[type="submit"],
  #contact input[type="email"] {
    margin: 1rem 1rem 0 1rem;
  }
  input[type="email"] {
    width: 86%;
  }
  #submit {
    margin-left: 39 !important;
  }
}

footer{
  height: 100%; 
  background-color: rgb(255, 255, 255); 
  font-size: 1.5rem;
}
@media(max-width: 600px) {
  footer {
    font-size: 1.7rem;
  }
}
.mainfooter {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 0;
}
.mainfooter div {
  width: 300px;
  margin: 20px;
}
.firstfooter ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
.firstfooter ul li{
  margin-right: 20px;
}
.secondfooter ul {
  list-style: none;
  padding-left: 0;
}
.secondfooter a {
  color: black;
  text-decoration: none;
}
.thirdfooter ul {
  list-style: none;
  padding-left: 0;
}
#copyright {
  font-size: 12px;
  text-align: center;
  color: rgb(68, 68, 68);
}